.inicio-content {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 4rem;
    min-height: 100vh;
}

.inicio-text-content-2 {
    margin-top: -15rem;
}

.inicio-secao {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-branca);
}

.inicio-secao h2 { 
    text-transform: uppercase;
    font-size: 4.2rem;
}

.inicio-secao p {
    font-size: 2rem;
    white-space: pre-wrap;
}


.contatos-form {
    grid-column: span 2;  
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contatos-form .form-grid {
    border: none;
    display: flex;
    flex-direction: column; 
    gap: 2rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--cor-branca);
}

.form-group input,
.form-group textarea,
.form-group button {
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    background-color: var(--cor-vermelha);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.form-group button:hover {
    background-color: var(--cor-preta);
}

.inicio-text-content {
    color: var(--cor-branca);
}

.inicio-text-content h2 {
    font-size: 4.4rem;
    text-transform: uppercase;
}

.inicio-text-content p {
    font-size: 2rem;
    font-weight: 400;
}

.form-grid legend {
    color: var(--cor-branca);
    font-size: 3rem;
    padding-bottom: 5rem;
}

