.inicio h2 {
    font-size: 4.2rem;
    color: var(--cor-branca);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
    
}

.inicio p {
    font-size: 2rem;
    color: var(--cor-branca);
    font-weight: 400;
}

.inicio-content {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 4rem;
    height: 100vh;
}

.inicio-text-content, .inicio-gif{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-gif img {
    max-width: 100%;
    height: auto;
    width: auto;
   position: relative;
   left: 15rem;
    
}