* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    line-height: 1.5;
}

footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--preto-mais-escuro);
    color: var(--cor-branca);
    font-size: 2rem;
    padding: 3rem;
}

footer a {
    color: var(--cor-vermelha);
    text-decoration: none;
}



